.header {
	display: flex;
	justify-content: space-evenly;
	border-bottom: 0.1px solid lightgray;
	padding-bottom: 10px;
	padding-top: 10px;
	position: sticky;
	width: 100%;
	z-index: 999;
	top: 0;
	background-color: white;
}
.header__left {
	display: flex;
}
.header__left > img {
	object-fit: contain;
	height: 48px;
	margin-right: 10px;
}

.header__search {
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	height: 22px;
	color: gray;
	background-color: #eef3f9;
}

.header__search > input {
	outline: none;
	border: none;
	background: none;
}

.header__right {
	display: flex;
}
